<!DOCTYPE html>
<html lang="pt-br">
<head>
	<meta charset="utf-8">
	<title>Codex - Equipe</title>
	<link rel="stylesheet" type="text/css" href="equipe.css">
</head>
</head>
<body>
	<div>
	<header id="cabecalho">
		<hgroup>
			<h1>codeX</h1>
			<h2>Empresa Jr de Computação</h2>
		</hgroup>

		<nav id="menu">
			<h1>Menu Principal</h1>
			<ul>
				<li><a href="index.html">Home<a></li>
				<li><a href="sobre.html">Sobre</a></li>	
				<li><a href="servicos.html">Serviços</a></li>
				<li><a href="equipe.html">Equipe</a></li>
				<li><a href="portfolio.html">Portfólio</a></li>
				<li><a href="contato.html">Contato</a></li>
			</ul>
			</nav>	
		</header>
	</div>	
</body>