<!DOCTYPE html>
<html lang="pt-br" ng-app="sobre">
<head>
	<meta charset="utf-8">
	<title>Codex - Sobre</title>

	<link rel="stylesheet" type="text/css" href="../../lib/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" type="text/css" href="../../../assets/css/style.css">
	<link rel="stylesheet" type="text/css" href="sobre.css">

	<link href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
		rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">

	<script src="../../lib/angular/angular.js"></script>
	<script src="sobreController.js"></script>
</head>

<body ng-controller="sobreCtrl">
	<h1 class="site-heading text-center text-white d-none d-lg-block">
		<span class="site-heading-upper text-primary mb-3">Empresa Jr. de Computação UFCG</span>
		<span class="site-heading-lower">CodeX</span>
	</h1>

	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-dark py-lg-4" id="mainNav">
		<div class="container">
			<a class="navbar-brand text-uppercase text-expanded font-weight-bold d-lg-none" href="#">CodeX</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav mx-auto">
					<li class="nav-item px-lg-4">
						<a class="nav-link text-uppercase text-expanded" href="#">Home</a>
					</li>
					<li class="nav-item active px-lg-4">
						<a class="nav-link text-uppercase text-expanded" href="#">Sobre
							<span class="sr-only">(current)</span>
						</a>						
					</li>
					<li class="nav-item px-lg-4">
						<a class="nav-link text-uppercase text-expanded" href="#">Serviços</a>
					</li>
					<li class="nav-item px-lg-4">
						<a class="nav-link text-uppercase text-expanded" href="#">Equipe</a>
					</li>
					<li class="nav-item px-lg-4">
						<a class="nav-link text-uppercase text-expanded" href="#">Portfólio</a>
					</li>
					<li class="nav-item px-lg-4">
						<a class="nav-link text-uppercase text-expanded" href="#">Contato</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>
<!--	<section class="page-section about-heading">
		<div class="container">
			<img class="img-fluid rounded about-heading-img mb-3 mb-lg-0" src="../../../assets/images/sobre2.jpeg" alt="">
			<div class="about-heading-content">
				<div class="row">
					<div class="col-xl-9 col-lg-10 mx-auto">
						<div class="bg-faded rounded p-5">
							<h2 class="section-heading mb-4">
								<span class="section-heading-upper">Um pouco sobre a nossa história...</span>
							</h2>
							<p>Fundada em 2018 por estudantes do curso de Ciência da Computação da Universidade Federal de Campina Grande... Aqui continua falando um pouco mais sobre a história da Empresa.</p>
							<p class="mb-0">Aqui um outro pequeno parágrafo, continuando a história</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section> -->

	<section class="page-section">
		<div class="container">
			<div class="product-item">
				<div class="product-item-title d-flex">
					<div class="bg-faded p-5 d-flex ml-auto rounded">
						<h2 class="section-heading mb-0">
							<span class="section-heading-upper">Codex</span>
							<span class="section-heading-lower">Nossa missão</span>
						</h2>
					</div>
				</div>
				<img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../../../assets/images/missao.jpg" alt="">
				<div class="product-item-description d-flex mr-auto">
					<div class="bg-faded p-5 rounded">
						<p class="mb-0">Neste parágrafo será descrito, em poucas palavras, a missão da empresa.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="page-section">
		<div class="container">
			<div class="product-item">
				<div class="product-item-title d-flex">
					<div class="bg-faded p-5 d-flex mr-auto rounded">
						<h2 class="section-heading mb-0">
							<span class="section-heading-upper">Codex</span>
							<span class="section-heading-lower">Nossa Visão</span>
						</h2>
					</div>
				</div>
				<img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../../../assets/images/visao.jpg" alt="">
				<div class="product-item-description d-flex ml-auto">
					<div class="bg-faded p-5 rounded">
					<p class="mb-0">Neste parágrafo será descrito, em poucas palavras, a visão da empresa.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section class="page-section">
		<div class="container">
			<div class="product-item">
				<div class="product-item-title d-flex">
					<div class="bg-faded p-5 d-flex ml-auto rounded">
						<h2 class="section-heading mb-0">
							<span class="section-heading-upper">Codex</span>
							<span class="section-heading-lower">Nossos valores</span>
						</h2>
					</div>
				</div>
				<img class="product-item-img mx-auto d-flex rounded img-fluid mb-3 mb-lg-0" src="../../../assets/images/valores.jpg" alt="">
				<div class="product-item-description d-flex mr-auto">
					<div class="bg-faded p-5 rounded">
						<p class="mb-0">Neste parágrafo será descrito, em poucas palavras, os valores da empresa.</p>
					</div>
				</div>
			</div>
		</div>
	</section>

	<footer class="footer text-faded text-center py-5">
		<div class="container">
			<p class="m-0 small">Copyright &copy; CodeX 2018</p>
		</div>
	</footer>

	<!-- Bootstrap core JavaScript -->
	<script src="../../lib/jquery/jquery.min.js"></script>
	<script src="../../lib/bootstrap/js/bootstrap.bundle.min.js"></script>
</body>